*{
    margin: 0px;
    font-family: sans-serif;
}
.Layout1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
}
.inside1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.inside2{
  display: flex;
  align-items: center;
gap: 20px;
}
.button{
    border: none;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;

}
.button2{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
   
}
.buttons{
    display: flex;
    gap: 10px;
    justify-content: center; 
    margin-top: 40px;
}
.menu{
    display: none;
}
.inline{
    margin-right: 150px;
}
.h1{
    font-size: 60px;
}
.Layout2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.inside3{
    width: 800px;
    text-align: center;
    
}
.p1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.img1{
    position: relative;
    right: 50px;
    bottom: 70px;
}
.img2{
    position: relative;
    left: 180px;
    bottom: 70px;
}
.img3{
    position: relative;
    left: 60px;
}
.img4{
    position: relative;
    left: 230px;
}
.img5{
    position: relative;
    left:180px ;
    top: 70px;
}
.img10{
    position: relative;
    right: 210px;
    bottom: 20px;
}
.img30{
    position: relative;
    right: 250px;
}
.img40{
    position: relative;
    right: 120px;
}
.img50{
    position: relative;
    top: 150px;
    right: 100px;
}
.all1{
    background-color: #F1DFD5;
    padding-bottom: 150px;
}
.cont1{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    
    
}
.cont2{
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}
.loly{
    margin-top: 10px;
}
.all2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.sea1{
    font-size: 40px;
    text-align: center;
   

}
.p2{
    width: 480px;

}
.cont3{
    display: flex;
    justify-content: space-between;
    padding: 55px;
   align-items: center;
}
.sea2{
    width: 500px;
}
.h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.cont4{
    flex-direction: row-reverse;
}

@media (max-width:510px) {
   
    .inside2{
        display: none;
    }
    .Layout1{
        padding: 20px;
    }
    .menu{
        display: inline;
    }
    
    .pages{
        display: none;
    }
    .img1{
        position: relative;
        left: 20px;
    }
    .h1{
        font-size: 40px;
    }
    .img10{
        display: none;
    }
    .img20{
        position: relative;
        top: 120px;
        right: 40px;
    }
    .img2{
        position: relative;
        top: 100px;
        left: 0px;
    }
    .img3{
        top: 110px;
        width: 20px;
        left: 80px;
    }
    .img5{
        left: 10px;
        width: 30px;
    }
    .img4{
        top: 200px;
        left: 100px;
    }
    .img30{
        top: 200px;
        width: 40px;
        right: 50px;
    }
    .img40{
        top: 100px;
        right: 15px;
    }
    .img50{
        width: 40px;
        right: -5px;
    }
    .buttons{
        margin-top: 60px;
    }
    .cont1{
     flex-direction: column;
     row-gap: 20px;
     padding: 20px;
    }
    .sea1{
        font-size: 30px;
    }
    .all2{
        flex-direction: column;
        padding: 15px;
        row-gap: 15px;
        margin-bottom: 40px;
    }.p2{
        text-align: center;
        width: 100%;
    }
    .cont3{
        flex-direction: column;
        padding: 20px;
    }
    .imgh{
        width: 100%;
    }
   .sea2{
    width: 100%;
   }
   .h2{
    font-size: 34px;
    margin-top: 30px;
   }
   
}
